apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: nginx
spec:
  # Use ClusterIP and expose via an OpenShift Route instead of NodePort
  type: ClusterIP
  selector:
    app: nginx
  ports:
    - name: http
      port: 8080
      targetPort: 80
      # nodePort removed; Route will expose this service externally