apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  namespace: monitoring
spec:
  ports:
    - port: 8080
      targetPort: 8080
      name: metrics
  selector:
    app: kube-state-metrics

