apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab-runner
  namespace: gitlab
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: gitlab-runner
  template:
    metadata:
      labels:
        app: gitlab-runner
    spec:
      serviceAccountName: gitlab-runner

      securityContext:
        runAsNonRoot: true

      containers:
      - name: gitlab-runner
        image: gitlab/gitlab-runner:ubi-fips-0e423884
        imagePullPolicy: IfNotPresent

        env:
        - name: CI_SERVER_URL
          value: "https://gitlab.com/"
        - name: RUNNER_NAME
          value: "microshift-runner"
        - name: RUNNER_EXECUTOR
          value: "kubernetes"
        - name: RUNNER_TOKEN
          valueFrom:
            secretKeyRef:
              name: gitlab-runner-secret
              key: runner-token

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]

        volumeMounts:
        - name: config
          mountPath: /etc/gitlab-runner

      volumes:
      - name: config
        configMap:
          name: gitlab-runner-config

