apiVersion: apps/v1
kind: Deployment
metadata:
  name: playground-web
  namespace: playground
spec:
  replicas: 1
  selector:
    matchLabels:
      app: playground
  template:
    metadata:
      labels:
        app: playground
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

      containers:
      - name: nginx
        image: bitnami/nginx:latest
        ports:
        - containerPort: 8080

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL

        volumeMounts:
        - name: nginx-cache
          mountPath: /var/cache/nginx
        - name: nginx-run
          mountPath: /var/run
        - name: nginx-conf
          mountPath: /etc/nginx/conf/server_blocks/playground.conf
          subPath: playground.conf
        - name: html
          mountPath: /app/index.html
          subPath: index.html

      volumes:
      - name: nginx-cache
        emptyDir: {}
      - name: nginx-run
        emptyDir: {}
      - name: nginx-conf
        configMap:
          name: playground-nginx-conf
      - name: html
        configMap:
          name: playground-html
