apiVersion: apps/v1
kind: Deployment
metadata:
  name: playground-web
  namespace: playground
spec:
  replicas: 1
  selector:
    matchLabels:
      app: playground
  template:
    metadata:
      labels:
        app: playground
    spec:
      containers:
      - name: nginx
        image: nginx:stable
        ports:
        - containerPort: 80

